<!DOCTYPE html>

<!-- html -->
<html lang="en">

<!-- head -->
<head>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta end -->

    <!-- title -->
    <title>adminindex</title>
    <!-- title end -->

    <!-- imports -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8fa6f6eb77.js" crossorigin="anonymous"></script>
    <!-- imports end -->
    
    <!-- style -->
    <!-- visual studio -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <!-- spring boot -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- style end -->
    
    <!-- js -->
    <!-- visual studio -->
    
    <!-- spring boot -->

    <!-- js end -->

</head>
<!-- head end -->

<!-- body -->
<body class="bg-blue">

    <!-- content -->
    <div class="container-fluid text-black">
        <div class="row">
            <!-- navigation -->
            <div class="col-2 right-shadow full-height z-hi">
                <!-- title -->
                <div class="row justify-content-center">
                    <img class="title-img py-4 pe-5" src="/images/title-blue-bg.png">
                    <hr class="w-75">
                </div>
                <!-- tabs -->
                <div class="row pt-4">
                    <ul class="text-decoration-none list-unstyled">
                        <li class="nav-item-active ps-3">
                            <a href="/admin/adminindex"><i class="fa-solid fa-building p-3"></i>Hjem</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="/admin/shiftadministration"><i class="fa-solid fa-calendar-plus p-3"></i>Administrer vagtplan</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="/admin/allusers"><i class="fa-solid fa-users p-3"></i>Administrer brugere</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="/admin/newsfeedadmin"><i class="fa-solid fa-comment p-3"></i>Nyhedsfeed</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="#"><i class="fa-solid far fa-calendar p-3"></i>Vagtplan</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="#"><i class="fa-solid fa-star p-3"></i>Ønskeliste</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="#"><i class="fa-solid fas fa-bell p-3"></i>Rediger check ind / ud</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="#"><i class="fa-solid fas fa-chart-pie p-3"></i>Statistik</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a href="#"><i class="fa-solid fas fa-users p-3"></i>Medarbejdere</a>
                        </li>
                        <li class="nav-item ps-3">
                            <form th:action="@{/auth/logout}" method="post" id="logout-form">
                                <button type="submit" class="btn-logout"><i class="fa-solid fas fa-sign-out p-3"></i>Log ud</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- logo -->
                <div class="row justify-content-center text-center text-black pt-5">
                    <hr class="w-75">
                    <img class="index-logo-sm" src="/images/logo-no-bg.png">
                </div>
            </div>
            <!-- navigation end -->
            <!-- right panel -->
            <div class="col-10 z-low full-height text-black text-center bg-light-grey-custom">
                <h3 class="pt-5">Admin Index</h3>
            </div>
            <!-- right panel end -->
        </div>
    </div>
    <!-- content end -->

</body>
<!-- body end -->

</html>
<!-- html end -->