<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8fa6f6eb77.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-blue" onload="getWishForUser()">

<!-- content -->
<div class="container-fluid text-black">
    <div class="row">
        <!-- navigation -->
        <div class="col-2 right-shadow full-height">
            <!-- title -->
            <div class="row justify-content-center">
                <img class="title-img py-4 pe-5" src="/images/title-blue-bg.png">
                <hr class="w-75">
            </div>
            <!-- tabs -->
            <div class="row pt-4">
                <ul class="text-decoration-none list-unstyled">
                    <li class="nav-item ps-3">
                        <a href="/user/userindex"><i class="fa-solid fa-building p-3"></i>Hjem</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fa-bell p-3"></i>Check ind / ud</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="/user/shiftoverview"><i class="fa-solid fa-calendar p-3"></i>Vagtskema</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fa-comment p-3"></i>Nyhedsfeed</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fa-shopping-cart p-3"></i>Markedsplads</a>
                    </li>
                    <li class="nav-item-active ps-3">
                        <a href="/user/calenderforwishesuser"><i class="fa-solid fa-star p-3"></i>Ønskeliste</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fas fa-chart-pie p-3"></i>Statistik</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fas fa-users p-3"></i>Medarbejdere</a>
                    </li>
                    <li class="nav-item ps-3">
                        <a href="#"><i class="fa-solid fas fa-user p-3"></i>Profil</a>
                    </li>
                    <li class="nav-item ps-3">
                        <form th:action="@{/auth/logout}" method="post" id="logout-form">
                            <button type="submit" class="btn-logout"><i class="fa-solid fas fa-sign-out p-3"></i>Log ud</button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- logo -->
            <div class="row justify-content-center text-center text-black pt-5">
                <hr class="w-75">
                <img class="index-logo-sm" src="/images/logo-no-bg.png">
            </div>
        </div>
        <!-- navigation end -->
        <!-- right panel -->
        <div class="col-10 text-center bg-light-grey-custom">

            <!-- Background Card-->
            <div class="card mt-2 border border-dark " style="border: none;">
                <div class="card-header text-center bg-grey-custom">
                    <h1 class="text-white">Ønsker</h1>
                </div>
                <div class="card-body bg-blue-custom" style="height: 100%; max-height: 90vh; overflow-y: scroll;">
                    <!-- Overlay Card-->
                    <div class="card border border-dark">
                        <div class="card-body pt-0">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-header d-flex">
                                        <button class="btn btn-outline-primary col-sm-4" id="previous" onclick="previous()">Previous</button>
                                        <h3 class = "text-center col-sm-4" id="monthAndYear"></h3>
                                        <button class="btn btn-outline-primary col-sm-4" id="next" onclick="next()">Next</button>
                                    </div>
                                    <table class="table table-bordered table-responsive-sm" id="calendar">
                                        <thead>
                                        <tr>
                                            <th>Søndag</th>
                                            <th>Mandag</th>
                                            <th>Tirsdag</th>
                                            <th>Onsdag</th>
                                            <th>Torsdag</th>
                                            <th>Fredag</th>
                                            <th>Lørdag</th>
                                        </tr>
                                        </thead>

                                        <tbody id="calendar-body">

                                        </tbody>
                                    </table>
                                    <!--
                                            <div class="form-inline">

                                                <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

                                                <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
                                            </div>
                                    -->

                                    <br/>
                                    <h2 class="lead fw-bold mr-2 ml-2" for="month" >Jump To:</h2>
                                    <form class="form-inline d-flex text-center justify-content-center mb-5">
                                        <select class="form-control col-4 mx-2 text-center" name="month" id="month" onchange="jump()" style="max-width: 250px">
                                            <option value=0>Januar</option>
                                            <option value=1>Februar</option>
                                            <option value=2>Marts</option>
                                            <option value=3>April</option>
                                            <option value=4>Maj</option>
                                            <option value=5>Juni</option>
                                            <option value=6>Juli</option>
                                            <option value=7>August</option>
                                            <option value=8>Septemper</option>
                                            <option value=9>October</option>
                                            <option value=10>November</option>
                                            <option value=11>Decemeber</option>
                                        </select>


                                        <label for="year"></label><select class="form-control col-4 mx-2 text-center" name="year" id="year" onchange="jump()" style="max-width: 250px">
                                        <option value=2010>2010</option>
                                        <option value=2011>2011</option>
                                        <option value=2012>2012</option>
                                        <option value=2013>2013</option>
                                        <option value=2014>2014</option>
                                        <option value=2015>2015</option>
                                        <option value=2016>2016</option>
                                        <option value=2017>2017</option>
                                        <option value=2018>2018</option>
                                        <option value=2019>2019</option>
                                        <option value=2020>2020</option>
                                        <option value=2021>2021</option>
                                        <option value=2022>2022</option>
                                        <option value=2023>2023</option>
                                        <option value=2024>2024</option>
                                        <option value=2025>2025</option>
                                        <option value=2026>2026</option>
                                        <option value=2027>2027</option>
                                        <option value=2028>2028</option>
                                        <option value=2029>2029</option>
                                        <option value=2030>2030</option>
                                        <option value=2031>2031</option>
                                        <option value=2032>2032</option>
                                        <option value=2033>2033</option>
                                        <option value=2034>2034</option>
                                        <option value=2035>2035</option>
                                        <option value=2036>2036</option>
                                        <option value=2037>2037</option>
                                        <option value=2038>2038</option>
                                        <option value=2039>2039</option>
                                        <option value=2040>2040</option>
                                        <option value=2041>2041</option>
                                        <option value=2042>2042</option>
                                        <option value=2043>2043</option>
                                        <option value=2044>2044</option>
                                        <option value=2045>2045</option>
                                        <option value=2046>2046</option>
                                        <option value=2047>2047</option>
                                        <option value=2048>2048</option>
                                        <option value=2049>2049</option>
                                        <option value=2050>2050</option>
                                        <option value=2051>2051</option>
                                        <option value=2052>2052</option>
                                        <option value=2053>2053</option>
                                        <option value=2054>2054</option>
                                        <option value=2055>2055</option>
                                        <option value=2056>2056</option>
                                        <option value=2057>2057</option>
                                        <option value=2058>2058</option>
                                        <option value=2059>2059</option>
                                        <option value=2060>2060</option>
                                    </select></form>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="wishingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="container-fluid">
                                                <div class="d-flex justify-content-around">
                                                    <h5 class="modal-title text-dark" id="showUsername"></h5>
                                                    <h5 class="modal-title text-dark" id="current-date"></h5>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal-body">
                                            <!-- Modal body -->
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="d-flex justify-content-center">
                                                        <div id = "larry">
                                                            <h5>Ønske:</h5>
                                                            <form>
                                                                <select class="mb-3" id="userWish" name="wish">
                                                                    <option value="Kan godt">Kan godt</option>
                                                                    <option value="Kan ikke">Kan ikke</option>
                                                                </select>
                                                                <input class="btn btn-success" type="submit" value="Submit" onclick="submitWish()" style="margin-left: 100px;">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>
                    </div>
                    <!-- Overlay card END-->
                </div>
            </div>
            <!-- Background card end -->
        </div>
        <!-- right panel end -->
    </div>
</div>
<!-- content end -->

<!-- content -->


<!-- Modal body -->


<!-- Optional JavaScript for bootstrap -->
<script src="/js/plugins/serializejson.js"></script>
<script src="/js/user/ujsonconstructor.js"></script>
<script src="/js/user/calenderDerVirker.js"></script>
<script src="/js/user/uapicaller.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


</body>
</html>